<p id="notice"><%= notice %></p>

<h1 style="color: #CF538F; font-size:70px; font-family: helverica; text-align: center">Posts</h1>

<table>
  <thead>
    <tr>
      <th style="font-size:30px; font-family: helverica"> Title</th>
      <th style="font-size:30px; font-family: helverica">Content</th>
      <th style="font-size:30px; font-family: helverica">User</th>
      <th style="font-size:30px; font-family: helverica">Age</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.user %></td>
        <td><%= post.age %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
